#chart(style="width: 560px; height: 300px;")
:javascript
  $(function () {
    new Highcharts.Chart({
      chart: { renderTo: 'chart' },
      title: { text: '' },
      xAxis: { type: 'datetime' },
      yAxis: {
        title: { text: '#{params[:id]}' }
      },
      series: [{
        name: "#{t('.'+params[:id])}",
        pointInterval: #{1.day * 1000},
        pointStart: #{90.days.ago.at_midnight.to_i * 1000},
        data: #{resource.map(&:value).reverse.inspect}
      }]
    });
  });
