<script type="text/javascript" charset="utf-8">
  $(function () {
    new Highcharts.Chart({
      chart: { renderTo: 'users_chart' },
      title: { text: 'User count by Day' },
      xAxis: { type: 'datetime' },
      yAxis: {
        title: { text: 'Users' }
      },
      series: [{
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 4.weeks.ago.at_midnight.to_i * 1000 %>,
        data: <%= (4.weeks.ago.to_date..Date.today).map { |date| User.where(guest: nil).where('created_at <= ?', date).count}.inspect %>
      }]
    });
  });
</script>
<div id="users_chart" style="width: 560px; height: 300px;"></div>



<script type="text/javascript" charset="utf-8">
  $(function () {
    new Highcharts.Chart({
      chart: { renderTo: 'talks_chart' },
      title: { text: 'Talk count by Day' },
      xAxis: { type: 'datetime' },
      yAxis: {
        title: { text: 'Talks' }
      },
      series: [{
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 4.weeks.ago.at_midnight.to_i * 1000 %>,
        data: <%= (4.weeks.ago.to_date..Date.today).map { |date| Talk.where('created_at <= ?', date).count}.inspect %>
      }]
    });
  });
</script>
<div id="talks_chart" style="width: 560px; height: 300px;"></div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    new Highcharts.Chart({
      chart: { renderTo: 'social_shares_chart' },
      title: { text: 'Social Share count by Day' },
      xAxis: { type: 'datetime' },
      yAxis: {
        title: { text: 'Social Shares' }
      },
      series: [{
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 4.weeks.ago.at_midnight.to_i * 1000 %>,
        data: <%= (4.weeks.ago.to_date..Date.today).map { |date| SocialShare.where('created_at <= ?', date).count}.inspect %>
      }]
    });
  });
</script>
<div id="social_shares_chart" style="width: 560px; height: 300px;"></div>
