- if @errors
  .error
    %h3== Please fix the following validation errors
    %ul
      - @errors.each do |line, errors|
        %li
          == Errors in line #{line}
          %ul
            - errors.each do |error|
              %li= error

%h3 Validation
%p
  Please use <a href="/samples/talks.csv">this CSV file</a> as a template for imports.
%p
  %em uri
  is an important column: If you change it a new entry will be created. If you keep it, any existing entry will be updated.

= form_for :dump, url: { action: "import_csv" }, html: { multipart: true } do |f|
  %table
    %tr
      %td
        %label{ for: "dump_file" }
          Select a CSV File :
        %td
          = f.file_field :file
        %td
          = submit_tag 'Upload'
