<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>VoicerepublicBackoffice</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :scripts %>
  <!-- WEBFONTS -->
  <%= stylesheet_link_tag "//cloud.webtype.com/css/fa41b746-9201-4f1c-ab4a-a330eb0afb96.css" %>
</head>
<body class="<%= [controller_name, action_name] * '-' %>">
<%= yield %>

</body>
</html>
